body{
	padding-top: 5%;
	text-align: center;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

ul{
	display: inline-block;
	list-style-type: none;
	margin-bottom: 2em;
}

li{
	float: left;
	height: 2em;
	width: 2em;
	border: 1px solid;
	border-radius: 25%;
	padding: 1em;
	margin-left: 1em;
	margin-right: 1em;
}

a{
	text-decoration: none;
}

.temp{
	display: inline-block;
	font-size: 2em;
}

